@primary-color: #182C61;
@background-color: #f5f6fa;
@button-color: #44bd32;
@button-hover-color: #4cd137;
@text-color: #fff;

@default-margin: 0;
@default-padding: 0;
@box-sizing: border-box;

@font-family: 'Roboto', sans-serif;
@font-weight-bold: bold;

@container-max-width: 1024px;
@container-padding: 16px;
@header-height: 60px;
@menu-item-margin: 24px;
@product-margin-top: 40px;
@product-border-radius: 16px;
@product-button-padding: 8px;
@product-button-border-radius: 8px;
@product-button-margin-top: 8px;
@section-padding: 56px 0;
@products-columns: 3;
@products-column-width: 32.66%;
@products-column-gap: 1%;

@tablet-max-width: 1023px;
@mobile-max-width: 767px;
@container-mobile-max-width: 80%;
@products-mobile-columns: 2;
@products-mobile-column-width: 48.5%;
@products-mobile-column-gap: 3%;